.formDetails {
  min-width: 40%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}
.form {
  height: 75%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* padding-left: 15px; */
  border: 1px solid black;
}
.loginBtn {
  padding: 15px;
  width: 90%;
  border-radius: 25px;
  background-color: rgb(151, 98, 255);
  color: white;
  font-size: medium;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
}
p {
  font-size: 15px;
}
.newAccount {
  color: rgb(151, 98, 255);
}
.forgetAccount {
  width: 80%;
  display: flex;
  /* border: 1px solid black; */
  justify-content: end;
}
.forgetBtn:hover,
.newAccount:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .formDetails {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0%;
  }
  h1{
    font-size: 20px;
  }

}
