.tag,#toggle{
                display: none;
            }
        a{text-decoration: none;}
        *{
            font-family:'Times New Roman', Times, serif;
            font-size: 20px;
            color: black;
            box-sizing: border-box; 
        }
        html, body {
            height: 100%;
            margin: 0;
            box-sizing: border-box; 
            /* width: 100%; */
        } 

        .container{
            display: flex;
            flex-direction: column;
            height: 100%;
            width:100%;
            border: 1px solid black;
        }
        .one{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            /* height: 90%; */
            height: 15%;
            border: 3px solid rgb(0, 0, 0);
            
        }
        .two{
            border: 3px solid rgb(0, 0, 0);
            /* flex-grow: 1; */
            display: flex;
            width : 100%;
            height: 20%;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(69, 68, 68);
            
        }
        
        button{
            border: 1px solid rgb(2, 149, 255);
            padding: 25px;
            background-color: white;
        }
        img{
            height: 75px;
            width: 75px;
            border-radius: 50%;
        }
        .two-one{
            display: flex;
            width: 30%;
            height: 60%;
            /* border: 1px solid black; */
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .two-two{
            /* border: 1px solid black; */
            height: 75%;
            width: 65%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .two-two a,.two-one p,main bold,main p{
            text-decoration: none;
            color: white;
        }
        .three{
            height: 65%;
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDfBEzPhx2tirBaa1h_fDnNuv7hizuHVSAA2aHrGSqIQ-Xrb8xg8YI7F8&s);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border: 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .three main{
            height: 35%;
            border: 1px solid #000000;
            min-width: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.6);
        }
        .three bold{
            font-size: 35px;
        }
        .two-one p {
            margin: 0;
        }
        @media (max-width :860px) {
            .one{
                height: 25%;
                flex-direction:column;
                padding: 10px;
                
            }
            .two{
                flex-wrap: wrap;
                height: 25%;
                width: 100%;
                justify-content: space-between;
            }
            button{
                height: 70px;
                padding:15px;
                width: 200px;
                /* gap :px; */
                text-align: center;
                
            }
            .two-one{
                order :1;
                /* padding-left: 10px; */
                /* border: 1px solid black; */
                /* margin-left: 35px; */
                height: 50%;
                width: 25%;

                
            }
            .two-two{
                /* margin: 10px; */
                display: none;
                flex-direction: column;
                justify-content: start;
                align-items: end;
                gap: 10px;
                width: 100%;
                height: 50%;
                order: 3; 
                background-color: #757575;
                /* border: 1px solid beige; */
                
            }
            .three main{
                display: flex;
                height: 40%;
                min-width:300px;
                justify-content: center;
                align-items: center;
                
            }
            .three bold{
                font-size: 20px;
            }
            .three p{
                font-size: 15px;
            }
            .three{
                height: 50%;
            }
            .tag{
                display: flex;
                margin-right: 25px;
                order :2;
            }
            #toggle:checked ~ .two .two-two{
                display: flex;
            }
            #toggle:checked ~ .two{
                height: 60%;
            }
            #toggle:checked ~ .three{
                height: 35%;
            }
            #toggle:checked ~ .two-one{
                height: 35%;
            }
            .two-one > p {
                padding-left: 30px;
                font-size: 13px;
            }
            .two-one > img{
                height: 50%;
                width: 50%;
            }
            

        }
        /* @media (max-width: 1440px) {
            .two-one{
                width: 35%;
            }
            .two-two {
                width : 70%;
            }
        } */