.student-form-details {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.student-form {
  width: 350px;
  background-color: #ffffff;
  padding: 25px 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 12px;
}

.form-group label {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.form-group input,.form-group select {
  padding: 8px 8px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  font-size: 14px;
}

.form-group p {
  margin: 0;
  color: red;
  font-size: 12px;
}
.submit-btn{
  margin-top: 15px;
  padding: 10px;
  border: none;
  background-color: #4a69bd;
  color: #fff;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}
.submit-btn:disabled{
  cursor: no-drop;
}
table,thead,th,tr,tbody,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}
.table-container{
  overflow:scroll;
  
}