#main{
            border: 1px solid black;
            width: 350px;
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }